* {
    padding: 0px;
    margin: 0px;
}

.main {
    width: 70%;
    height: 500px;
    margin-left: 15%;
    margin-top: 100px;
    padding: 10px;
    background-color: aqua;
}

.search {
   padding: 5px;
}

.search input{
    width: 49%;
    height: 30px;
}

.table {
    margin-top: 20px;;
    width: 100%;
}

th, td {
    height: 25px;
    text-align: center;
}